body
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,222,20,1) 0%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif,;
}

#form{
    width: 400px;
    margin: 20vh auto 0 auto ;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;

}

h1
{
    text-align: center;
    color: blueviolet;

}

#form button
{
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;

}

.input-group
{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid rgb(34,193,195);


}

.input-group input:focus
{
    outline: 0;
}

.input-group.error
{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: green;

}

.input-group.error input{
    border-color:red;
    
}